.reading-list-title-cards {
  width: 211px;
  height: 20px;
  color: #9b9b9b;
  font-family: "Open Sans";
  font-size: 18px;
  letter-spacing: -0.07px;
  margin-bottom: 30px;
}
.reading__card {
  max-width: 278px;
  min-height: 318px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  background-color: #ffffff;
  margin-bottom: 15px;
}

.card-read-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}