.pop-up-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  @media screen and (max-width: 1000px){
    & {
      display: none;
    }
  }
}

.pop-up-tag-block {
  padding: 8px;
}
