.blogs-image-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.blogs-image-wrapper {
  display: flex;
  flex-direction: column;
}

.display-flex {
  display: flex;
  flex-direction: row;
}