.blogs-main-wrapper {
    margin: 0 auto;
    padding: 0 calc((100% - 1180px)/2);
}
.author-main-wrapper {
    max-width: 2100px;
    margin: 0 auto;
    padding: 0 calc((100% - 1180px)/2);

    @media screen and (max-width: 1227px){
        & {
            padding: 0 calc((100% - 924px)/2);
        }
    }
}

.reading-list-wrapper {
    max-width: 2100px;
    margin: 0 auto;
    padding: 0 calc((100% - 1300px)/2);
}

