.card {
  &__header {
    @include flex($jc:space-between, $ai: center);
    max-width: rem(1160, $fontSize);
    margin: rem(180, $fontSize) auto rem(25, $fontSize);

    &--title {
      font-size: rem(36, $fontSize);
      font-weight: 700;
      letter-spacing: -0.22px;
    }

    &--view {
      color: $subtitle-color;
      font-size: rem(16, $fontSize);
      letter-spacing: -0.1px;

      &:hover {
        color: $active-color;
      }
    }
  }

  &__home-wrapper {
    display: grid;
    justify-content: center;
    align-content: center;
    &--main {
      @extend .card__home-wrapper;
      grid-gap: rem(21, $fontSize);
      grid-template-columns: repeat(4, rem(276, $fontSize));
      grid-template-rows: repeat(2, rem(170, $fontSize));
      &-bottom {
        @extend .card__home-wrapper;
        margin-top: rem(160, $fontSize);
        margin-bottom: rem(140, $fontSize);
        grid-gap: rem(23, $fontSize);
        grid-template-columns: repeat(2, rem(575, $fontSize));
        grid-template-rows: repeat(1, rem(615, $fontSize));
      }
    }
  }

  &__box {
    background-repeat: no-repeat;
    border-radius: 5px;
    padding: 36px 20px;
    font-size: 150%;
    &--main-bottom {
      @extend .card__box;
      padding: unset;
      padding-top: rem(380, $fontSize);
    }
  }

  &__main {
    color: $light-text;
    padding: rem(50, $fontSize);
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }
}

