.flx-drc-clm {
  display: flex;
  flex-direction: column;
}

.mg-right-20 {
  margin-right: 20px;
}

.author-main-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.project-list--author-wrapper{
  min-height: 2222px;
  margin-bottom: 120px;
}

