html, body {
  font-size: $fontSize;
  font-family: $fonts;


  @media only screen and (max-width: $desktopWidth) {
    font-size: $fontSize;
  }

  @media only screen and (max-width: $tableWidth) {
    font-size: $fontSizeMedium;
  }

  @media only screen and (max-width: $phoneWidth) {
    font-size: $fontSizeSmall;
  }
}

#root {
  background-color: $background-color;
  position: relative;
  height: 100vh;
  width: 100%;
  float: left;
  overflow-x: hidden;
}

.construction {
  display: block;
  width: 35%;
  margin: 0 auto;
}

.main {
  padding-top: rem(120, $fontSize);
}

.hidden {
  visibility: hidden;
  display: none;
}
