.card-wrapper {
  width: 648px;
  height: 374px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  background-color: #1b0042;
  padding: 25px 50px;
  margin: 10px;
  /*@media screen and (max-width: 680px){
    & {
      width: 389px;
      padding: 25px 15px;
    }
  }*/
}

.second-card-wrapper {
  width: 257px;
  height: 177px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  background-color: #ffffff;
  overflow: scroll;
  padding: 20px 15px 0px 15px;
  margin: 10px 15px 10px 15px;
  /*@media screen and (max-width: 680px) {
    & {
      width: 389px;
    }
  }*/
}

.post-author-wrapper {
  margin: 10px 0px;
  min-height: 519px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  background-color: #ffffff;
  padding: 0px 30px;
}
::-webkit-scrollbar
{
  display: none;
}

