//Color
$black:             #000000;
$white:             #ffffff;
$default-color:     #000;
$background-color:  #000;
$active-color:      #000;
$primary-color:     #000;
$secondary-color:   #000;
$success-color:     #000;
$danger-color:      #000;
$light-color:       #000;
$title-color:       #000;
$text-color:        #000;

//Size
$phoneWidth:        480px;
$tableWidth:        768px;
$desktopWidth:      1280px;
$mainLineHeight:    28px;
$fontSize:          16px;
$fontSizeMedium:    14px;
$fontSizeSmall:     12px;

// fonts
$fonts:             'Montserrat', sans-serif;
