//Color
$black:             #000000;
$white:             #ffffff;
$default-color:     #1b0042;
$background-color:  #f9f9fb;
$active-color:      #ff5480;
$primary-color:     #27aeff;
$secondary-color:   #9283e0;
$success-color:     #0f0;
$danger-color:      #f00;
$light-color:       #f9f9fb;
$title-color:       #111210;
$subtitle-color:    #9b9b9b;
$dark-text:         #4b4b4b;
$light-text:        #ffffff;

//Size
$phoneWidth:        572px;
$tableWidth:        768px;
$largeDeviceWidth:  992px;
$desktopWidth:      1180px;
$mainLineHeight:    28px;
$fontSize:          16px;
$fontSizeMedium:    14px;
$fontSizeSmall:     13px;

// fonts
$fonts:             'Open Sans', sans-serif;


//Slider variable
// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"

$slick-font-family:         "slick" !default;
$slick-loader-path:         "./" !default;
$slick-arrow-color:         white !default;
$slick-dot-color:           black !default;
$slick-dot-color-active:    $slick-dot-color !default;
$slick-prev-character:      "\2190" !default;
$slick-next-character:      "\2192" !default;
$slick-dot-character:       "\2022" !default;
$slick-dot-size:            6px !default;
$slick-opacity-default:     0.75 !default;
$slick-opacity-on-hover:    1 !default;
$slick-opacity-not-active:  0.25 !default;
