@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
.card-title {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 28px;
  font-weight: 400;
  letter-spacing: -0.17px;
  line-height: 46px;
  padding-top: 10px;
}
.second-card-title {
  color: #838383;
  font-family: "Open Sans";
  font-size: 18px;
  letter-spacing: -0.1px;
  line-height: 46px;
  text-transform: uppercase;
}
.card-title-blur {
  color: #111210;
  font-family: "Open Sans";
  font-size: 18px;
  letter-spacing: -0.1px;
  line-height: 46px;
  text-transform: uppercase;
}