.card-image {
  width: 100%;
  min-height: 546px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  background-color: #ffffff;
  @media screen and (max-width: 1227px) {
    min-height: 357px;
  }
  @media screen and (max-width: 480px) {
    min-height: 280px;
  }
}

.card-image-wrap {
  min-height: 546px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  background-color: #ffffff;
  @media screen and (max-width: 1227px) {
    min-height: 357px;
  }
  @media screen and (max-width: 480px) {
    min-height: 280px;
  }
}

.reading-lists-card {
  min-width: 278px;
  min-height: 318px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  background-color: #ffffff;
  margin: 10px 15px 70px 15px;
  /*@media screen and (max-width: 680px) {
    & {
      margin: 0;
    }
  }*/
}

.author-post__img {
  margin-right: 15px;
  width: 80px;
  height: 80px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  background-color: #ffffff;
}