.card-image {
  height: 358px;
  border-radius: 8px;
  background-color: red;
  margin: 5px;
  width: 553px;
}

.reading-lists-card {
  width: 278px;
  height: 318px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  background-color: #ffffff;
  margin: 10px 15px 70px 15px;
  @media screen and (max-width: 680px) {
    & {
      margin: 0;
    }
  }
}