.entire-content {
  color: white;
}

.second-entire-content {
  color: #111210;
  font-family: "Open Sans Semi Bold";
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.11px;
  line-height: 30px;
}
