@import '../../style/utilities/rem-function';
@import '../../style/utilities/variable';

//Slider CUSTOM Style*/
.header-slider {
  &__text {
    max-width: rem(780, $fontSize);
    text-align: left;
    position: absolute;
    bottom: 40%;
    margin-left: rem(70, $fontSize);
    color: $light-color;
    font-weight: 600;
    text-shadow: 0.5px 0.5px 0.5px $light-color;
    transition: color 0.5s ease-out 0.5s;

    &:hover {
      color: $active-color;
      transition: color 0.5s ease-out 0.5s;
    }

    @media only screen and (max-width: $tableWidth) {
      max-width: rem(350, $fontSize);
      margin-left: rem(20, $fontSize);
    }

    @media only screen and (max-width: $phoneWidth) {
      max-width: rem(250, $fontSize);
      margin: rem(10, $fontSize);
    }
  }
}
