@import '../../style/utilities/variable';
@import '../../style/utilities/rem-function';
@import '../../style/utilities/mixins';

.card {
  &__header {
    @include flex($jc:space-between, $ai: center);
    max-width: rem(1160, $fontSize);
    margin: rem(180, $fontSize) auto rem(25, $fontSize);

    &--title {
      font-size: rem(36, $fontSize);
      font-weight: 700;
      letter-spacing: -0.22px;
    }

    &--view {
      color: $subtitle-color;
      font-size: rem(16, $fontSize);
      letter-spacing: -0.1px;

      &:hover {
        color: $active-color;
      }
    }
  }

  &__home-wrapper {
    display: grid;
    grid-gap: rem(21, $fontSize);
    grid-template-columns: repeat(4, rem(276, $fontSize));
    grid-template-rows: repeat(2, rem(170, $fontSize));
    justify-content: center;
    align-content: center;
  }

  &__box {
    border-radius: 5px;
    padding: 36px 20px;
    font-size: 150%;
  }

  &__main {
    color: $light-text;
    padding: rem(50, $fontSize);
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }
}

