.ads-banner{
  width: 378px;
  height: 305px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  background-color: #ffffff;
  color: #111210;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}